.form {
	display: flex;
	flex-direction: column;
	padding: 0px 50px 50px 50px;
	border-radius: 50px;
	background-color: #300052;
	text-align: center;
	max-width: 260px;
}

.errorLabel {
	color: red;
	margin: 0;
}
